#visual {
  background: #fdcf77;
  height: auto;
  width: 100%;
}

#sub_visual {
  background: #fff;
  height: auto;
  width: 100%;
}

header {
	height: 145px;
  width: 1920px;
  border-bottom: 1px solid #fff;
  position: absolute;
  z-index: 100;
  background-color: rgba(255,255,255,0);
	transition: background-color 0.35s,height 0.35s;
}
.header_on{
  /*width:1920px;*/
	height:420px;
	background-color:rgba(255,255,255,1);
}

header .inner {
  /*width:83.33%;*/
  width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

header .inner div.floor1 {
  height: 75px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

header .inner div.floor1 h1.logo {
  float: left;
  padding-top: 28px;
  width: 155px;
}

header .inner div.floor1 h1.logo a {
  display: inline-block;
}

header .inner div.floor1 h1.logo a img {
  width: 100%;
}

header .inner div.floor1 #mall {
  float: left;
  width: 135px;
  padding-left: 37px;
  padding-top: 35px;
}

header .inner div.floor1 .right {
  float: right;
}

header .inner div.floor1 .right ul.mymenu {
  float: left;
  padding-top: 50px;
}

header .inner div.floor1 .right ul.mymenu li {
  display: inline;
}

header .inner div.floor1 .right ul.mymenu li a {
  font-size: 19px;
  font-family: 'seoul-namsan-jung-l';
}

header .inner div.floor1 .right ul.mymenu li:first-child {
  padding-right: 20px;
}

header .inner div.floor1 .right ul.icon {
  padding-left: 25px;
  float: right;
  padding-top: 35px;
}

header .inner div.floor1 .right ul.icon li {
  display: inline;
  padding-left: 10px;
}

header .inner div.floor1 .right ul.icon li:first-child {
  padding-left: 0;
}

header .inner div.floor2 {
  position: relative;
  height: auto;
  overflow: hidden;
  padding-top: 27px;
  /* padding-bottom: 300px; */
}

header .inner div.floor2 nav.main {
  float: left;
}

header .inner div.floor2 nav.main ul li {
  display: inline;
}

header .inner div.floor2 nav.main ul li:hover {
  color:#da291c;
}

header .inner div.floor2 nav.main ul li a {
  font-size: 26px;
  padding-right: 40px;
  font-family: 'seoul-namsan-jung-m';
}

header .inner div.floor2 ul.right {
  position: absolute;
  right: 0;
}

header .inner div.floor2 ul.right li {
  display: inline;
}

header .inner div.floor2 ul.right li a {
  font-size: 24px;
  font-family: 'seoul-namsan-jung-m';
  padding-left: 40px;
}

.submenu_on{
	visibility: visible !important;
  display: block !important;

}
header .submenu{
	visibility: hidden;
	transition: visibility 0.1s;
  display: none;
}
header .submenu ul {
  float: left;
  position: absolute;
  top: 80px;
}

header .submenu ul li {
  padding-bottom: 20px;
}

header .submenu ul li a {
  padding: 5px 8px;
  font-size: 18px;
  font-family: 'seoul-namsan-jung-l';
}

header .submenu ul li a:hover {
  background-color: #da291c;
  color: #fff;
}

header .submenu ul:nth-child(1) {
  left: 0;
}

header .submenu ul:nth-child(2) {
  left: 130px;
}

header .submenu ul:nth-child(3) {
  left: 290px;
}

header .submenu ul:nth-child(4) {
  left: 520px;
}

header .submenu ul:nth-child(5) {
  left: 690px;
}

header .submenu ul:nth-child(6) {
  left: 860px;
}

/*푸터*/
footer {
  /*width: 100%;*/
	width:1920px;
  height: auto;
  background: #fafafa;
}

footer .inner {
  width: 1600px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  position: relative;
}

footer .sitemap_left {
  padding-top: 53px;
  padding-bottom: 68px;
}

footer .sitemap li {
  display: inline;
  padding: 0 17px;
  background: url(../image/main/footerline.gif) no-repeat 0 6px;
}

footer .sitemap li:first-child {
  background: none;
  padding-left: 0;
}

footer .sitemap li a {
  font-family: 'nanum-square-r';
  font-size: 16px;
  color: #9a9a9a;
}

footer .logo {
  float: left;
  padding-top: 35px;
}

footer #info {
  float: left;
  padding-left: 45px;
  padding-right: 70px;
}

footer #info dd {
  padding-bottom: 13px;
  font-family: 'nanum-square-l';
  font-size: 16px;
  color: #9a9a9a;
}

footer #banner {
  float: right;
  padding-top: 35px;
}

footer #banner li {
  display: inline;
  padding-right: 25px;
}

footer .sitemap_right {
  position: absolute;
  right: 0;
  top: 53px;
}
